@model IEnumerable<WardrobeOrganizer.Core.Models.Clothes.ClothesViewModel>
<div class="container card-img">

    @foreach (var item in Model)
    {
        <div class="card-wrapper">
            <a class="card-title text-dark" asp-controller="Clothes" asp-route-clothingId="@item.Id" asp-action="Details">
            <div class="card-body">
                <img src="@item.ImagePath" alt="Avatar">
                <h4>@item.Name</h4>
                <p class="card-text">Size: @item.Size</p>
            </div>
            </a>
        </div>
    }
</div>