<div class="nav-container">
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-action="AllClothes">Clothes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Tshirts" asp-action="AllClothesFromCategory">Tshirts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Longsleeves" asp-action="AllClothesFromCategory">Longsleeves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Blouses" asp-action="AllClothesFromCategory">Blouses</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Sweatshirts" asp-action="AllClothesFromCategory">Sweatshirts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Cardigans" asp-action="AllClothesFromCategory">Cardigans</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Jeans" asp-action="AllClothesFromCategory">Jeans</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Leggings" asp-action="AllClothesFromCategory">Leggings</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Trousers" asp-action="AllClothesFromCategory">Trousers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Shorts" asp-action="AllClothesFromCategory">Shorts</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Sets" asp-action="AllClothesFromCategory">Sets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Dresses" asp-action="AllClothesFromCategory">Dresses</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-action="AllOuterwears">Outerwear</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-category="WinterJackets" asp-action="AllOuterwearFromCategory">WinterJackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="RainJackets" asp-action="AllOuterwearFromCategory">RainJackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Jackets" asp-action="AllOuterwearFromCategory">Jackets</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Vests" asp-action="AllOuterwearFromCategory">Vests</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Coats" asp-action="AllOuterwearFromCategory">Coats</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Snowsuits" asp-action="AllOuterwearFromCategory">Snowsuits</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="WinterTrousers" asp-action="AllOuterwearFromCategory">WinterTrousers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="RainTrousers" asp-action="AllOuterwearFromCategory">RainTrousers</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-action="AllShoes">Shoes</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Boots" asp-action="AllShoesFromCategory">Boots</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Trainers" asp-action="AllShoesFromCategory">Trainers</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Sandals" asp-action="AllShoesFromCategory">Sandals</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="RainBoots" asp-action="AllShoesFromCategory">RainBoots</a>
        </div>
    </div>
    <div class="dropdown">
        <a class="dropbtn" asp-controller="Search" asp-action="AllAccessories">Accessories</a>
        <div class="dropdown-content">
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Hats" asp-action="AllAccessoriesFromCategory">Hats</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Gloves" asp-action="AllAccessoriesFromCategory">Gloves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Scarves" asp-action="AllAccessoriesFromCategory">Scarves</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="HairAccessories" asp-action="AllAccessoriesFromCategory">Hair accessories</a>
            <a class="btn btn-info" asp-controller="Search" asp-route-category="Sunglasses" asp-action="AllAccessoriesFromCategory">Sunglasses</a>
        </div>
    </div>
</div>