@model InfoStorageViewModel
@{
    ViewData["Title"] = "Edit Storage";
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="input-container">
        <div class="input-field">
            <label class="label" asp-for="Name">Storage name</label>
            <input asp-for="Name" class="form-control" id="Name">
        </div>
    </div>
    <button type="submit" class="list-group-item list-group-item-action list-group-item-info btn">Edit storage</button>
</form>