@model AddAccessoriesViewModel
@{
    ViewData["Title"] = $"Add {Model.Category}";
    var members = Model.Members.Select(t => new SelectListItem(t.Value, t.Key));
}
<h2 class="text-center">@ViewData["Title"]</h2>
<hr />
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="ImgUrl">Image URL</label>
            <input asp-for="ImgUrl" class="form-control" id="Url" placeholder="Image URL">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="Color">Color</label>
            <input asp-for="Color" class="form-control" id="Color" placeholder="Color">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="SizeAge">Size by age</label>
            <input asp-for="SizeAge" class="form-control" id="ImgUSizerl" placeholder="SizeAge">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="MemberId">Member</label>
            <select asp-for="MemberId" asp-items="@members">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <input type="hidden" asp-for="@Model.Category">
    </div>
    <div class="form-group col-md-6">
        <label class="label" asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
    </div>
    <button type="submit" class="btn btn-primary">Add @Model.Category</button>
</form>
