@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


    <div class="d-flex align-items-center justify-content-center vh-100">
    <img class="error-background" src="https://media.istockphoto.com/id/117148506/photo/messy-closet.jpg?s=612x612&w=0&k=20&c=Fgj3hopdNLOlsk07LbbTTCu0NvTBH1ZuX9905jUi_Z0=" alt="Smiley face">
        <div class="text-center">
            <h1 class="display-1 fw-bold">404</h1>
            <p class="fs-3"> <span class="text-danger">Opps!</span> Page not found.</p>
            <p class="lead">
                The page you’re looking for doesn’t exist.
            </p>
        <a class="list-group-item list-group-item-action list-group-item-info btn" asp-controller="Home" asp-action="Index">Go Home</a>
        </div>
    </div>



