@using Microsoft.AspNetCore.Identity
@using WardrobeOrganizer.Infrastructure.Data
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wardrobe Organizer</h1>
</div>
