body {
    background: rgb(255,233,173);
    background: linear-gradient(36deg, rgba(255,233,173,1) 40%, rgba(255,201,178,1) 100%);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
nav {
    background: rgb(255,239,196);
    background: linear-gradient(36deg, rgba(255,239,196,1) 41%, rgba(255,174,140,1) 100%);
    font-size: 20px;
}
.nav-container {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    position: relative;
    z-index: 10;
}
.navbar-light .navbar-nav .nav-link {
    font-size: 20px;
}
.navbar-expand-sm .navbar-nav {
    flex-direction: row;
    align-items: center;
}
.border-bottom {
    border-bottom: none !important;
    box-shadow: 0 0.60rem 0.75rem rgba(30, 0, 0, 0.05);
}
.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 2rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    font-size: 30px;
}
.nav-item.hi{
   margin-right: 30px;
}

main{
    margin-top: 4rem;
}
.basic-info{
    margin-top: 40px;
    font-size: 25px;
    letter-spacing: 1px;
    line-height:40px;
}

.card-body,
.card-body-profile{
    text-align: center;
}

.card-body img {
    max-width: 20rem;
    min-width: 11rem;
    max-height: 16rem;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*profile picture*/
.card-body-profile img {
    width:50%;
    border-radius: 10px;
    margin-bottom: 10px;
}

input.form-control {
    margin: 2px;
    background-color: #fff7df;
    border-radius: 10px;
    border: none;
}
#login-submit,
#registerSubmit {
    margin: 2px;
    border-radius: 10px;
    border: none;
    background-color: #659f9f;
}
.page-title {
    margin: 30px auto;
    font-size: 60px;
}
/*Item informatnion in lists*/

.list-title {
    margin: 35px 0px;
    font-size: 30px;
    text-align: center;
    border: 3px solid #fff3cd;
    border-radius: 10px;
    box-shadow: 7px 7px 19px -5px rgba(140,94,38,0.75);
    padding: 10px 15px;
}
.list-group-item-warning {
    color: #664d03;
    background-color: #fff3cd;
    font-size: 20px;
}
.list-group-item-info {
    font-size:20px;
    color: #664d03;
    background-color: #fff3cd;
}

.list-group-item-info.btn:hover {
    transform: scale(1.1);
    background-color: #ffa07b;
    color:#fff;
}

.list-group-item-info.btn {
    font-weight: bold;
    margin: 10px auto;
    box-shadow: 7px 7px 19px -5px rgba(140,94,38,0.75);
    width: 20rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border: none;
    background-color: #659f9f;
}
/* list of cards*/
.card-group {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}
.card-group > .card {   
    width: 100%;
}
.list-group {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.list-group.one {
    width: 90%;
    align-items: center;
}
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
}

/* container for card with img*/

.container.card-img {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 40px;
}
.card-wrapper {
    font-weight: bold;
    box-shadow: 7px 7px 19px -5px rgba(140,94,38,0.75);
    text-align: center;
    border-radius: 10px;
    border: none;
    width: 28%;
    color: #664d03;
    background-color: #fff3cd;
    font-size: 20px;
}
.card-wrapper:hover{
    transform: scale(1.1);
    cursor:pointer;
}
/* .card-wrapper div {
        height: 20rem;
    }*/
/*Forms*/

.form-control{
    display:unset;
    width:40%;
}
.label{
    display: block;
    text-align: center;
    font-size:25px;
}
.input-container{
    margin-top: 3rem;
}
.input-field {
    text-align: center;
}

/*form for member*/
    .input-container.member .label {
        display: block;
        font-size: 25px;
        margin-top: 12px;
        margin-left: 15px;
    }

.input-container.member {
    text-align-last: start;
}
/*button in forms */
form .list-group-item-info.btn {
    margin-top: 70px;
}


/* img background*/
.house-background {
    position: absolute;
    width: 90rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    opacity: 0.9;
}
/* img error background*/
.error-background {
    position: absolute;
    width: 60rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    opacity: 0.5;
}

.storage-background {
    margin: 0px 50%;
    transform: translateX(-50%);
    z-index: -10;
    position: relative;
}
/*footer btns*/
.btn {
    font-size: 19px;
}
.card-footer {
    display: flex;
    gap: 50px;
    align-items: unset;
    justify-content: center;
    margin-top:50px;
}


/*dropdown menu*/
.btn-info {
    color: white;
    background-color: #659f9f;
    border-color: #ffa07b;
}

    .btn-info:hover {
        color: #fff;
        background-color: #ffa07b;
        border-color: #ffa07b;
    }


.dropbtn {
    background-color: rgb(101, 159, 159);
    color: white;
    font-size: 19px;
}
.dropdown:hover .dropbtn {
    background-color: rgb(255, 160, 123);
    color: white;  
}
}
.dropdown-content .btn-info:hover {
    background-color: #ffa07b;
}

.dropdown-content .btn-info {
    color: #fff;
}

/* empty partial*/

.img-container img{
    width: unset;
    overflow: hidden;
}


.img-container .text-empty-wardrobe{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%,-50%);
    font-size: 63px;
    border: 2px solid black;
    padding: 10px 3px;
    border-radius: 10px;
}

.search-container {
    display: flex;
    justify-content: space-between;
}