@model EditShoesViewModel
@{
    ViewData["Title"] = "Edit Shoes";
    var members = Model.Members.Select(t => new SelectListItem(t.Value, t.Key));
}
<div class="text-center">
    <h1 class="page-title">@ViewData["Title"]</h1>
</div>
<form method="post" EncType="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="Image">Image</label>
            <input asp-for="Image" class="form-control" placeholder="Image">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="Color">Color</label>
            <input asp-for="Color" class="form-control" id="Color" placeholder="Color">
        </div>
        <div class="form-group col-md-6">
            <label class="label" asp-for="SizeEu">Size Eu</label>
            <input asp-for="SizeEu" class="form-control" id="ImgUSizerl" placeholder="Size">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label" asp-for="Centimetres">Centimetres</label>
            <input asp-for="Centimetres" type="text" class="form-control" id="Size Height">
        </div>
        <input type="hidden" asp-for="@Model.Id">
        <div class="form-group col-md-6">
            <label class="label" asp-for="MemberId">Member</label>
            <select asp-for="MemberId" asp-items="@members">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="label" asp-for="Description">Description</label>
        <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
    </div>
    <button type="submit" class="list-group-item list-group-item-action list-group-item-info btn">Edit shoes</button>
</form>
