@model AllUsersViewModel

@{
    ViewData["Title"] = "All Users";
}

<div class="text-center">
    <p>This is Administrators home page!</p>
</div>

<div class="card-group">

    @foreach (var user in Model.Users)
    {
        <div class="card">
            <div class="card-body">
                <h4>User: @user.Email</h4>
                <h4>Fullname: @user.FullName</h4>
            </div>
            <div class="card-footer">
                <a class="btn btn-danger " asp-controller="Admin" asp-action="Delete">Delete user</a>
                <a class="btn btn-danger" asp-controller="Admin" asp-action="Edit">Edit user</a>
            </div>
        </div>
    }
</div>
